{{>includes/header}}
<h1>IPGeolocation.io</h1>
{{ip}}
<p>Code example:</p>
<pre>
<code class="language-java">
    IPGeolocationAPI api = new IPGeolocationAPI("my-cool-api-key");

    @GetMapping
    ModelAndView ipgeoloactaion(HttpServletRequest request) {
        Map&ltString, Object&gt model = Map.of("ip", request.getRemoteAddr());
        final GeolocationParams geoParams = new GeolocationParams();
        geoParams.setIPAddress(request.getRemoteAddr());
        geoParams.setLang("DE");
        geoParams.setFields("zipcode,longitude,latitude");
        api.getGeolocation(geoParams);
        return new ModelAndView("ipgeolocation", model);
    }
</code></pre>
<h2>Result</h2>
{{>includes/result}}
<a href="https://ipgeolocation.io/">Website</a>
{{>includes/footer}}